/* TOP SECTION */

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

:root {
  --duration: 0.2s;
  --main-background: hsl(222, 26%, 31%);
  --top-section-text: white;
  --screen-background: hsl(224, 36%, 15%);
  --screen-text: white;
  --keypad-background: hsl(223, 31%, 20%);
  --shadow-size: 0px 2.5px 0px 0px;
  --key: hsl(30, 25%, 89%);
  --key-shadow: hsl(28, 16%, 65%) var(--shadow-size);
  --special-function: hsl(225, 21%, 49%);
  --special-function-shadow: hsl(224, 28%, 35%) var(--shadow-size);
  --thumb-background: hsl(6, 63%, 50%);
  --equal-operator-shadow: hsl(6, 70%, 34%) var(--shadow-size);
  --key-text-color: hsl(221, 14%, 31%);
  --primary-text-color: hsl(0, 0%, 100%);

  --attribution-text: var(--primary-text-color);
  --attribution-text-highlighted: hsl(0, 0%, 66%);

  /* hover */
  --highlighted-button: hsl(30, 25%, 100%);
  --highlighted-thumb: hsl(6, 63%, 70%);
  --highlighted-special-function: hsl(211, 36%, 73%);
}

body {
  margin: 0;
  background-color: var(--main-background);
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  min-height: 500px;
  font-family: "League Spartan";
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
}

.container > * {
  transition: var(--duration);
}

.top-section {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  gap: 20px;
  margin-bottom: 20px;
}

.top-title {
  margin: 0;
  flex: 1;
  padding-left: 5px;
  color: var(--top-section-text);
}

.theme-text {
  font-size: 7px;
  letter-spacing: 1px;
  padding: 6px;
  color: var(--top-section-text);
}

.theme-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.theme-section > * {
  box-sizing: border-box;
}

.theme-numbers {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 10px;
  padding: 0 3px;
  color: var(--top-section-text);
}

.theme-number {
  width: 11px;
  text-align: center;
  cursor: pointer;
  padding-top: 1.5px;
  transition: var(--duration);
}

.slider-track {
  background: var(--keypad-background);
  width: 50px;
  height: 17px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  padding: 0 3px;
  cursor: pointer;
  justify-content: var(--thumb-position);
}

.slider-thumb {
  background-color: var(--thumb-background);
  width: 11px;
  height: 11px;
  border-radius: 100%;
  transition: var(--duration);
}

.slider-track:hover .slider-thumb,
.theme-number:hover {
  background-color: var(--highlighted-thumb);
}

/* SCREEN SECTION */

.screen-section {
  background-color: var(--screen-background);
  min-height: 90px;
  border-radius: 5px;
  margin-bottom: 17px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0 20px;
}

.screen-text {
  padding-top: 8px;
  font-size: 40px;
  text-align: end;
  color: var(--screen-text);
  width: 100%;
  word-wrap: break-word;
}

/* KEYPAD SECTION */

.keypad-section {
  background: var(--keypad-background);
  border-radius: 5px;
  flex: 1;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(4, 20%);
  padding: 20px;
  gap: 20px;
  justify-content: center;
}

.keypad-section button {
  border: none;
  font-family: "League Spartan";
  cursor: pointer;
  padding: 0;
  padding-top: 6px;
  border-radius: 7px;
  transition: var(--duration);
}

.calculator-key {
  width: 70px;
  font-size: 32px;
  color: var(--key-text-color);
  background-color: var(--key);
  box-shadow: var(--key-shadow);
}

.calculator-key:hover {
  background-color: var(--highlighted-button);
}

.special-key {
  grid-column: span 2;
  font-size: 32px;
  color: var(--primary-text-color);
  height: 40px;
}

.special-function {
  color: var(--primary-text-color);
  font-size: 19px;
  background-color: var(--special-function);
  box-shadow: var(--special-function-shadow);
}

.special-function:hover {
  background-color: var(--highlighted-special-function);
}

.equal-key {
  background-color: var(--thumb-background);
  box-shadow: var(--equal-operator-shadow);
  font-size: 20px;
}

.third-theme .equal-key {
  color: hsl(198, 20%, 13%);
}

.equal-key:hover {
  background-color: var(--highlighted-thumb);
}

/* ATTRIBUTION */

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--attribution-text);
  transition: 3s;
}

.attribution a {
  color: var(--attribution-text-highlighted);
  text-decoration: none;
  transition: var(--duration);
}

.attribution a:hover {
  color: var(--highlighted-thumb);
}

/* THEMES */

.second-theme {
  --main-background: hsl(0, 0%, 90%);
  --top-section-text: var(--key-text-color);
  --screen-background: hsl(0, 0%, 93%);
  --screen-text: var(--key-text-color);
  --keypad-background: hsl(0, 5%, 81%);
  --shadow-size: 0px 2.5px 0px 0px;
  --key: hsl(45, 7%, 89%);
  --key-shadow: hsl(28, 16%, 65%) var(--shadow-size);
  --special-function: hsl(185, 42%, 37%);
  --special-function-shadow: hsl(185, 58%, 25%) var(--shadow-size);
  --thumb-background: hsl(25, 98%, 40%);
  --equal-operator-shadow: hsl(25, 99%, 27%) var(--shadow-size);
  --key-text-color: hsl(60, 10%, 19%);
  --primary-text-color: hsl(0, 0%, 100%);

  --attribution-text: var(--key-text-color);
  --attribution-text-highlighted: var(--special-function);

  /* hover */
  --highlighted-button: hsl(45, 7%, 100%);
  --highlighted-thumb: hsl(25, 98%, 60%);
  --highlighted-special-function: hsl(185, 49%, 50%);

  --thumb-position: center;
}

.third-theme {
  --main-background: hsl(268, 75%, 9%);
  --top-section-text: hsl(52, 100%, 62%);
  --screen-background: hsl(268, 71%, 12%);
  --screen-text: hsl(52, 100%, 62%);
  --keypad-background: hsl(268, 71%, 12%);
  --shadow-size: 0px 2.5px 0px 0px;
  --key: hsl(268, 47%, 21%);
  --key-shadow: hsl(290, 70%, 36%) var(--shadow-size);
  --special-function: hsl(281, 89%, 26%);
  --special-function-shadow: hsl(285, 91%, 52%) var(--shadow-size);
  --thumb-background: hsl(176, 100%, 44%);
  --equal-operator-shadow: hsl(177, 92%, 70%) var(--shadow-size);
  --key-text-color: hsl(52, 100%, 62%);
  --primary-text-color: hsl(0, 0%, 100%);

  --attribution-text: var(--key-text-color);
  --attribution-text-highlighted: var(--thumb-background);

  /* hover */
  --highlighted-button: hsl(268, 57%, 43%);
  --highlighted-thumb: hsl(186, 100%, 76%);
  --highlighted-special-function: hsl(281, 89%, 38%);

  --thumb-position: flex-end;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 300px) {
  body {
    max-width: 100%;
  }

  .container {
    width: 90%;
  }

  .top-section {
    flex-direction: column;
    align-items: center;
    gap: 1%;
  }

  .keypad-section {
    grid-template-columns: repeat(2, 40%);
  }

  .calculator-key {
    width: 100%;
  }

  .special-function {
    font-size: 15px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
  html,
  body {
    height: 100%;
  }

  .container {
    width: 90%;
    height: 90%;
  }

  .top-section {
    padding: 10px;
  }

  .theme-text {
    padding: 5px;
  }

  .top-section ~ section:not(.attribution) {
    border-radius: 13px;
  }

  .keypad-section {
    grid-template-rows: repeat(5, 1fr);
    height: 100%;
    gap: 20px;
    overflow: hidden;
  }

  .calculator-key {
    width: 100%;
    height: 100%;
  }

  .special-key {
    width: 100%;
    height: 100%;
  }
}
